<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="col_x_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="col_x" type="xstring" value="ArtistLatitude"/>
<config key="col_y_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="col_y" type="xstring" value="ArtistLongitude"/>
<config key="Item_Size_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_double"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="Item_Size" type="xdouble" value="10.0"/>
<config key="CGG_NR_ROW_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="CGG_NR_ROW" type="xint" value="2500"/>
<config key="cfg_autoRange_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="cfg_autoRange" type="xboolean" value="true"/>
<config key="CFG_SHOW_HISTORY_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="CFG_SHOW_HISTORY" type="xboolean" value="false"/>
<config key="CFG_TYPE_IMAGE_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="CFG_TYPE_IMAGE" type="xstring" value="PNG"/>
<config key="graph_title_Internals">
<entry key="SettingsModelID" type="xstring" value="SMN_string_disact"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="graph_title" type="xstring" value="Title"/>
<entry key="graph_title_BOOL" type="xboolean" value="false"/>
<config key="graph_height_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="graph_height" type="xint" value="600"/>
<config key="graph_width_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="graph_width" type="xint" value="400"/>
<config key="CFG_BackColor_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_color"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<config key="CFG_BackColor">
<entry key="Red" type="xint" value="255"/>
<entry key="Green" type="xint" value="255"/>
<entry key="Blue" type="xint" value="255"/>
<entry key="Alpha" type="xint" value="255"/>
</config>
<config key="CFG_PlotColor_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_color"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<config key="CFG_PlotColor">
<entry key="Red" type="xint" value="191"/>
<entry key="Green" type="xint" value="191"/>
<entry key="Blue" type="xint" value="191"/>
<entry key="Alpha" type="xint" value="255"/>
</config>
<config key="CFG_PlotAlpha_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_double"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="CFG_PlotAlpha" type="xdouble" value="0.2"/>
<config key="CFG_FSScale_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_double"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="CFG_FSScale" type="xdouble" value="1.0"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="CONFIGURED"/>
<entry key="factory" type="xstring" value="org.knime.ext.jfc.node.scatterplot.JfcScatterPlotNodeFactory"/>
<entry key="node-name" type="xstring" value="Scatter Plot (JFreeChart)"/>
<entry key="node-bundle-name" type="xstring" value="KNIME JFreeChart nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.ext.jfreechart"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="3.5.0.v201711021643"/>
<entry key="node-feature-name" type="xstring" value="KNIME JFreeChart"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.ext.jfreechart.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-feature-version" type="xstring" value="3.5.0.v201711021643"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Scatter Plot (JFreeChart)"/>
<entry key="hasContent" type="xboolean" value="false"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_dir_location" type="xstring" isnull="true" value=""/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" isnull="true" value=""/>
</config>
</config>
